// Single Post



.single-post {
 
    .site-content {
        padding-bottom: 40px;   
    }
    
    .hero {
        margin-bottom: 120px;  
    }
    
    .hero {
        
        .hero-content {
            padding-bottom: 85px;   
        }
        
        h1 {
            color: #fff;
            margin-bottom: 10px;
        }
        
        p {
            color: #fff;  
            font-size:20px;
            line-height: 24px;    
        }
        
        ul.post-categories {
            @include list-reset;
            margin: 0 0 20px -12px;
            text-align: center;
            
            li {
                display: inline-block;
                margin: 0 0 15px 12px;   
            }
        }
    }
            
 
    
    
     
    article.post {
        
        
        .post-author {
            
            position: relative;
            z-index: 2;
            margin: -180px auto 30px;
            text-align: center;
            
            img {
                border-radius: 100%;
                margin-bottom: 5px;
                border: 5px solid #fff;
             }
             
             p {
                color: $paragraph-font-color;
                font-size:20px;
                line-height: 24px;   
                 
             }
             
             &:hover p {
                color: $pink;   
             }
        }
        
        
        margin-bottom: 0px;
        
        .entry-content {
                     
            p:first-of-type {
                font-size: 22px;
                line-height: 28px;  
            }
            
            p:first-of-type:first-letter {
                color: $pink;
                font-size: 56px;
                line-height: 42px; 
                float: left;
                padding-top: 8px;
                padding-right: 8px;
                padding-left: 3px;  
            }
            
            
            @include breakpoint(large) {
                
                img.alignleft.size-thumbnail {
                    margin-left: -100px;   
                }
                
                img.alignright.size-thumbnail {
                    margin-right: -100px;   
                }
            }
            
        }
        
        .share-icons {
            margin-bottom: 40px;
            
            &:before {
                display: none;   
            }
            
            text-align: center;
            
            a:hover {
                background-color: $pink;
                
                svg {
                    fill: #fff;   
                }
            }
        }
        
     }
        
    .entry-footer {
        padding: 40px 0 0;   
        
        .post-categories {
            svg {
                display: none;   
            }
        }
        
        h4 {
            margin-bottom: 10px;   
        }
        
        .post-categories {
            
            @include list-reset;
            margin: 0 0 20px;
            text-align: left;
            
            li {
                display: block;
                margin: 0;
                padding: 0 0 15px 0;   
                
                @media #{$medium-up} {
                    display: inline-block;
                    padding: 0 10px 15px 0;   
                }
            }
            
            a {
                display: block;
                background-color: $pink;
                border: none;
                outline: none;
                padding: 5px;
                text-transform: uppercase;
                
                &:hover {
                    background: $dark-pink;  
                }
                
                span {
                    display: block;
                    border: 1px solid #fff; 
                    padding: 8px 15px;
                    color: #fff; 
                    font-size: 13px;
                 }
             }
        }
    }
    
    .entry-footer .column {
        position: relative;
    }
    
}


.related-posts {
 
    .post:hover {
        box-shadow: none;   
    }
 
    header {
        margin-bottom: 0;
        text-align: center;   
    }
    
}